.u-input-feedback,
%u-input-feedback {
    color: $table-numbers;
    font-size: small;
    font-weight: 600;
}
.u-default-pointer,
%u-default-pointer {
    cursor: default;
}
%u-margin-top-card,
.u-margin-top-card {
    margin-top: 20px;
}